* {
    margin: 0;
    padding: 0;
}

/* .body {
    width: 1140px;
} */

.header {
    width: 100%;
    height: 500px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-image: url("/images/bg-hero-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    height: 60px;
    align-items: flex-start;
    margin: 0;
}

.header-tryit-btn {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #f5efef;
    font-size: 16px;
}

.header-tryit-btn:hover {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(238, 234, 234);
    font-size: 16px;
    cursor: pointer;
}

.header-text { 
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    /* width: 100%; */
}

.header-text-btn {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: pink;
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 200px;

}

.header-text-btn:hover {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(192, 125, 136);
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 200px;
}

.header-img {
    width: 400px;
    height: 400px;
}

.text-image-container {
    display: flex;
    gap: 150px;
}