* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-image: url("/images/bg-hero-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60px;
    align-items: flex-start;
    margin: 0;
}

.header-tryit-btn {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #f5efef;
    font-size: 16px;
}

.header-tryit-btn:hover {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(238, 234, 234);
    font-size: 16px;
    cursor: pointer;
}

.header-text { 
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.header-text-btn {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: pink;
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 200px;

}

.header-text-btn:hover {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(192, 125, 136);
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 200px;
}

.header-img {
    width: 400px;
    height: 400px;
}

.text-image-container {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
}

@media (max-width: 600px) {
    .text-image-container {
        flex-direction: column;
        height: 1000px;
    }
}

.main {
    width: 100%;
    height: 1200px;
    position: relative;
}

.growtogether-container {
    border: 1px solid rgb(222, 218, 218);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.growtogether-img {
    width: 300px;
    height: 300px;
    display: flex;
}

.growtogether-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    justify-content: flex-start;
}

.growtogether-paragraph {
    opacity: 50%;
}

.flowing-container {
    border: 1px solid rgb(222, 218, 218);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.flowing-img {
    width: 300px;
    height: 300px;
    display: flex;
}

.flowing-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    justify-content: flex-start;
}

.flowing-paragraph {
    opacity: 50%;
}

.users-container {
    border: 1px solid rgb(222, 218, 218);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.users-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    justify-content: flex-start;
}

.users-paragraph {
    opacity: 50%;
}

.users-img {
    width: 300px;
    height: 300px;
    display: flex;
}

.absolute-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(222, 218, 218);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    width: 600px;
    height: 200px;
    bottom: -100px;
    left: calc(60%/2)
}

.absolute-container-btn {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: pink;
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 220px;
}

.absolute-container-btn:hover {
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(192, 125, 136);
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 220px;
}

.footer {
    width: 100%;
    background-color: hsl(192, 100%, 9%);
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.first-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second-list {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    gap: 20px;
}

.first-list-container {
    display: flex;
    gap: 20px;
}

.third-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.underline-list:hover {
    cursor: pointer;
    text-decoration: underline;
}

.forth-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fifth-list {
    display: flex;
    gap: 40px;
}

.social-logo:hover {
    cursor: pointer;
}